---
import { getCollection } from "astro:content";
import Title from "../components/Title";
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { Box } from "../../styled-system/jsx";

const posts = await getCollection("posts");
---

<Layout title="Thallk. - Let's thallk about metal music and more">
  <Box
    className={css({
      w: "full",
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
    })}
  >
    <h1
      class={css({
        fontSize: "9xl",
        boxSizing: "border-box",
        fontWeight: "black",
      })}
    >
      {
        (
          <Title>
            Thallk<span class={css({ color: "primary" })}>.</span>
          </Title>
        )
      }
    </h1>
    <h2 class={css({ fontSize: "2xl", lineClamp: 2 })}>
      Let’s thallk about metal music and more ...
    </h2>
    <p class={css({ fontWeight: 800, color: "primary" })}>Posts</p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Box>
</Layout>
