---
import { getCollection } from "astro:content";
import Container from "../components/Container";
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { Box } from "../../styled-system/jsx";

const posts = await getCollection("posts");
---

<Layout title="Thallk. - Let's thallk about metal music and more">
  <Container>
    <Box
      className={css({
        display: "flex",
        flexDirection: "column",
        alignItems: "center",
      })}
    >
      <h1
        class={css({
          fontSize: "9xl",
          display: "flex",
          gap: "2",
          lineHeight: "none",
          fontWeight: "black",
        })}
      >
        Thallk
        <span class={css({ color: "primary" })}>.</span>
      </h1>
      <h2
        class={css({
          fontSize: "3xl",
          maxW: "md",
          lineHeight: "none",
          wordBreak: "break-word",
          lineClamp: 2,
        })}
      >
        Let’s thallk about metal music and more ...
      </h2>
    </Box>
    <p class={css({ fontWeight: 800, color: "primary" })}>Posts</p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
