---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { Box } from "../../styled-system/jsx";
import FeaturedPost from "../components/FeaturedPost.astro";

const posts = await getCollection("posts");
const featuredPost = posts.find((post) => post.data.tags.includes("featured"));
---

<Layout title="Thallk. - Let's thallk about metal music and more">
  <Container>
    <Box
      className={css({
        display: "flex",
        flexDirection: "column",
        alignItems: "center",
      })}
    >
      <h1
        class={css({
          fontSize: "9xl",
          display: "flex",
          gap: "2",
          fontWeight: "black",
        })}
      >
        Thallk
        <span class={css({ color: "primary" })}>.</span>
      </h1>
      <h2
        class={css({
          fontSize: "3xl",
          maxW: "md",
          lineHeight: 'none',
          wordBreak: "break-word",
          lineClamp: 2,
        })}
      >
        Let’s thallk about metal music and more ...
      </h2>
      <Box
        className={css({
          pt: "14",
        })}
      >
        <a href={`/posts/${featuredPost?.slug}`}>
          <FeaturedPost post={featuredPost} />
        </a>
      </Box>
    </Box>
  </Container>
</Layout>
