---
import { Box } from "../../styled-system/jsx";
import { css } from "../../styled-system/css";
import { capitalize } from "../utils/capitalize";
import Tag from "./Tag.astro";
import type { Post } from "../content/config";
import { Image } from "astro:assets";

interface Props {
  post?: Post;
}

const { post } = Astro.props;
---

<Box
  className={css({
    display: "flex",
    pos: "relative",
    w: "full",
    _hover: {
      bg: "post-background-hover",
    },
    alignItems: "center",
    bg: "post-background",
    p: "4",
  })}
>
  <Box
    className={css({
      pr: "20px",
    })}
  >
    <Image
      class={css({
        w: "100px",
        md: {
          w: "120px",
        },
      })}
      src={post?.data.image!}
      alt="lala"
    />
  </Box>
  <h3
    class={css({
      fontSize: "xl",
      md: {
        fontSize: "2xl",
      },
      maxW: "7/12",
    })}
  >
    {post?.data.title}
  </h3>
  <Tag>
    {capitalize(post?.data.tags.find((tag) => tag.includes("featured")))}
  </Tag>
</Box>
