/* FONTS */
@font-face {
  font-family: 'Nohemi';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Nohemi-Black.woff2') format('woff2');
}

:root {
  --font-nohemi: 'Nohemi', sans-serif;
}

html {
  max-width: 70ch;
  padding: 3rem 1rem;
  margin: auto;
  line-height: 1.75;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}
